<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>修改酒店类型</title>
    <link rel="stylesheet" type="text/css"
          href="/css/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/theme.css">
    <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.css">
    <script src="/css/jquery-1.8.1.min.js" type="text/javascript"></script>
</head>
<body>
<!-- 页面的title -->
<ul class="breadcrumb">
    <li><a href="#">酒店类型管理</a> <span class="divider">/</span></li>
    <li class="active">修改酒店类型</li>
</ul>
<!-- 提示信息 -->
<div class="alert">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4>提示!</h4>
    <strong th:text="${msg}"></strong>
</div>
<!-- 页面主体 -->
<div class="row-fluid">
    <div class="span12">
        <form class="form-horizontal" action="/type/edit" method="post">
            <div class="control-group">
                <label class="control-label" for="typename">酒店类型名称</label>
                <div class="controls">
                    <input id="typename" type="text" name="typename" th:value="${type.typename}" />
                    <input type="hidden" name="typeid" th:value="${type.typeid}">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="typestate">酒店类型状态</label>
                <div class="controls">
                    <select name="typestate">
                        <option value="1" th:selected="${type.typestate==1}">正常</option>
                        <option value="0" th:selected="${type.typestate==0}">不可用</option>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="typesort">酒店类型排序</label>
                <div class="controls">
                    <input id="typesort" type="text" name="typesort" th:value="${type.typesort}" />
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input type="submit" class="btn" value="提交" />
                    <button class="btn btn-primary" type="button"
                            onclick="javascript:location.href='/type/list';">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>