<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>增加酒店</title>
    <link rel="stylesheet" type="text/css"
          href="/css/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/theme.css">
    <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.css">
    <script src="/css/jquery-1.8.1.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
</head>
<body>
<ul class="breadcrumb">
    <li><a href="/hotel/list">酒店管理</a> <span class="divider">/</span></li>
    <li class="active">增加酒店</li>
</ul>
<div class="alert">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4>提示!</h4>
    <strong >[[${msg}]]</strong>
</div>
<div class="row-fluid">
    <div class="span12">
        <form class="form-horizontal" action="/hotel/add" method="post"
              enctype="multipart/form-data">
            <div class="control-group">
                <label class="control-label" for="hotelname">酒店名称</label>
                <div class="controls">
                    <input id="hotelname" type="text" name="hotelname" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="hotelename">酒店英文名称</label>
                <div class="controls">
                    <input id="hotelename" type="text" name="hotelename" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="hoteladdr">酒店地址</label>
                <div class="controls">
                    <input id="hoteladdr" type="text" name="hoteladdr" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="hoteladdr2">酒店经纬度</label>
                <div class="controls">
                    <input id="hoteladdr2" type="text" name="hoteladdr2" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="hotelimg">酒店图片</label>
                <div class="controls">
                    <!-- 注意：name属性不要和实体的属性名称一样。 -->
                    <input type="file" name="file">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="hoteldesc">酒店详细介绍</label>
                <div class="controls">
                    <textarea id="hoteldesc" class="ckeditor" name="hoteldesc"></textarea>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="hotelopentime">开业时间</label>
                <div class="controls">
                    <input id="hotelsopentime" type="text" name="hotelopentime" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="hotelchildpolicy">酒店儿童政策</label>
                <div class="controls">
                    <input id="hotelchildpolicy" type="text" name="hotelchildpolicy" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="hotelbreakfast">酒店早餐</label>
                <div class="controls">
                    <input id="hotelbreakfast" type="text" name="hotelbreakfast" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="hotelpetpolicy">酒店宠物政策</label>
                <div class="controls">
                    <input id="hotelpetpolicy" type="text" name="hotelpetpolicy" />
                </div>
            </div>
                <div class="control-group">
                    <label class="control-label" for="hotelstate">酒店状态</label>
                    <div class="controls">
                        <select name="hotelstate">
                            <option value="1">正常</option>
                            <option value="0">不可用</option>
                        </select>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="hoteltypeid">酒店类型</label>
                        <div class="controls">
                            <select name="hoteltypeid">
                                <option th:each="type:${typelist}"
                                        th:value="${type.typeid}+','+${type.typename}">[[${type.typename}]]</option>
                            </select>
                        </div>
                    </div>

            <div class="control-group">
                <div class="controls">
                    <input type="submit" class="btn" value="提交" />
                    <button class="btn btn-primary" type="button"
                            onclick="javascript:location.href='/hotel/list';">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    CKEDITOR.replace('hoteldesc');
</script>
</body>
</html>